<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head') %>
</head>

<body>
    <header><%- include('./partials/_header') %></header>

    <main>
      <button>x</button>
        <div id="products-container">
        </div>
        <div id="button-container"></div>
        <div>
          <p class="product_id"><%= id %></p>
          <p class="user_id"><%= userId %></p>
        </div>
        <%- include('./partials/_messenger') %>
    </main>

    <footer><%- include('./partials/_footer') %></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/components/toggle-messenger.js"></script>
    <script type="text/javascript" src="/scripts/components/load-messenger.js"></script>
    <script type="text/javascript" src="/scripts/components/new-product.js"></script>
    <script type="text/javascript" src="/scripts/components/add-favorite.js"></script>
    <script type="text/javascript" src="/scripts/components/sold-product.js"></script>
</body>
</html>
