<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<body>
    <header><%- include('./partials/_header') %></header>

    <main>
        <div id="products-container">
        </div>
        <div id="button-container"></div>

        <div>
          <p class="product_id invisible"><%= id %></p>
          <p class="user_id invisible"><%= userId %></p>
        </div>
        <%- include('./partials/_messenger') %>

        <!-- <div id='error' class='invisible'></div> -->
    </main>

    <footer><%- include('./partials/_footer') %></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/components/new-product.js"></script>
    <script type="text/javascript" src="/scripts/components/add-favorite.js"></script>
    <script type="text/javascript" src="/scripts/components/sold-product.js"></script>
    <script type="text/javascript" src="/scripts/components/toggle-messenger.js"></script>
    <script type="text/javascript" src="/scripts/components/load-messenger.js"></script>
</body>
</html>
